<div class="container">
    <div class="form">
        <h3>Password Strength</h3>
        <label for="passwordField">Password:</label>
        <input [(ngModel)]="password" (ngModelChange)="passwordValidation()" type="password" name="" id="passwordField">
        <ul [ngClass]="{'invalid' : password.length >= 1 && password.length < 8, 'weak': strength == 1, 'medium': strength == 2, 'strong': strength == 3}" class="requirements">
            <li [ngClass]="{'met': validators.hasLetters}">Password includes letters</li>
            <li [ngClass]="{'met': validators.hasNumbers}">Password includes digits</li>
            <li [ngClass]="{'met': validators.hasSymbols}">Password includes symbols</li>
        </ul>
    </div>
</div>